<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <body>
		<center>
		<h2>Supply Cabinet Login</h2>
		<form id="loginForm" onsubmit="login()">
			<label><b>Username:</b></label>
			<input type="text" id="username" name="uname" required>
			<br>
			<label><b>Password:</b></label>
			<input type="text" id="password" name="password" required>
			<br>
			<input type="submit" value="Log In">
		</form>
		<a href="Register.html">
   <button>Register Account</button>
	</a>
		</center>
	</body>
        
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
